QUESTÃO 01
Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95
Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos
(b) Número inscritos que possuem, pelo menos, o superior completo.
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [ ]:
#pip install pandas
import pandas as pd

columns = ['fundamental_completo', 'medio_completo', 'superior_completo', 'pos_graduacao_completo']

data = [451, 627, 292, 95]

estudantes_series = pd.Series(data=data, index=columns)

numero_de_estudantes = estudantes_series.sum()

numero_de_superior = estudantes_series.filter(items=['superior_completo', 'pos_graduacao_completa']).sum()

data_extra = [68, 93, 22, 0]

estudantes_series2 = pd.Series(data=data_extra, index=columns)

estudantes_series3 = estudantes_series + estudantes_series2

numero_de_estudantes_extra = estudantes_series3.sum()

print(numero_de_estudantes)
print(numero_de_superior)
print(estudantes_series3)
print(numero_de_estudantes_extra)

1465
292
fundamental_completo      519
medio_completo            720
superior_completo         314
pos_graduacao_completo     95
dtype: int64
1648


Questão 2
Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota
Wilfred	2
Abbie	7
Harry	5.5
Julia	10
Carrie	6.2
(a) Crie uma Series com os valores da tabela acima.

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).

(c) Qual foi a nota média da turma.

In [ ]:
import pandas as pd

columns = [
    'Wilfred',
    'Abbie',
    'Harry',
    'Julia',
    'Carrie'
]

data = [
    2,
    7,
    5.5,
    10,
    6.2
]

testes = pd.Series(data=data, index=columns)

print(testes)

estudantes_aprovados = testes.where(lambda estudante: estudante >= 7).dropna()

print(estudantes_aprovados)

mean = testes.mean()

estudantes_acima_media = testes.where(lambda estudante: estudante >= mean).dropna()

print(mean)

print(estudantes_acima_media)

Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64
Abbie     7.0
Julia    10.0
dtype: float64
6.14
Abbie      7.0
Julia     10.0
Carrie     6.2
dtype: float64


Questão 3¶
Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.

In [1]:
import pandas as pd

data = {
    'peso': [72, 80, 60, 90, 100],
    'altura': [180, 170, 175, 174, 185],
    'idade': [31, 21, 16, 28, 23]
}

df = pd.DataFrame(data)

coluna_altura = df['altura']

print(coluna_altura)

media_idade = df['idade'].mean()

print(media_idade)

media_altura = coluna_altura.mean()

print(df[df['altura'] < media_altura])

df['imc'] = df['peso'] / ((df['altura'] / 100)  ** 2)

print(df)

df = df.drop(columns=['idade'])

print(df)

df.to_csv('imc.csv', index=False)

0    180
1    170
2    175
3    174
4    185
Name: altura, dtype: int64
23.8
   peso  altura  idade
1    80     170     21
2    60     175     16
3    90     174     28
   peso  altura  idade        imc
0    72     180     31  22.222222
1    80     170     21  27.681661
2    60     175     16  19.591837
3    90     174     28  29.726516
4   100     185     23  29.218408
   peso  altura        imc
0    72     180  22.222222
1    80     170  27.681661
2    60     175  19.591837
3    90     174  29.726516
4   100     185  29.218408


Questão 4
Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [2]:
import pandas as pd

df = pd.read_csv('imc.csv')

nomes = ['Rafael', 'Everton', 'Marcos', 'Marcelo', 'Stefani']

df['nomes'] = nomes

print(df)

df = df.set_index('nomes')

print(df)

print(df[(df['imc'] > 25) & (df['imc'] < 29.9)].index)

   peso  altura        imc    nomes
0    72     180  22.222222   Rafael
1    80     170  27.681661  Everton
2    60     175  19.591837   Marcos
3    90     174  29.726516  Marcelo
4   100     185  29.218408  Stefani
         peso  altura        imc
nomes
Rafael     72     180  22.222222
Everton    80     170  27.681661
Marcos     60     175  19.591837
Marcelo    90     174  29.726516
Stefani   100     185  29.218408
Index(['Everton', 'Marcelo', 'Stefani'], dtype='object', name='nomes')

Questão 5
Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [4]:
import pandas as pd

def classificacao(imc):
    if imc < 18.5:
        return 'Magreza'
    elif imc >=18.5 and imc <25:
        return 'Normal'
    elif imc <=25 and imc < 30:
        return 'Sobrepeso'
    elif imc > 30 and imc < 40:
        return 'Odesidade'
    else:
        return 'Obesidade Grave' #imc > 40

df = pd.read_csv('imc.csv')

df ['Classicação'] = df['imc'].apply(classificacao)

print(df)

df.to_excel('imc_classicacao.xlsx', index=False)

   peso  altura        imc      Classicação
0    72     180  22.222222           Normal
1    80     170  27.681661  Obesidade Grave
2    60     175  19.591837           Normal
3    90     174  29.726516  Obesidade Grave
4   100     185  29.218408  Obesidade Grave